.info-wi {
  width: 100%;
}

.main-list {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.second-child {
  margin-top: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.fo-rm {
  width: 25rem;
}
.btn {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  font-weight: 900;
  font-family: cursive;
}
textarea {
  resize: none;
}
.anima {
  animation-iteration-count: infinite;
}

@media screen and (max-width: 820px) {
  .main-list {
    height: 150vh;
  }
  .second-child {
    flex-wrap: wrap;
  }
}
